@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  text-align: center;
  font-family: 'Poppins';
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.sideNav {
  height: 100%;  
  width: 15%;  
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color:#282c34; 
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  flex-grow: 1;
}

.navObj {
  margin: 10px;
}

.BPGraph {
  height: 75vh;
  width: 75vh;
}

.provCard, .ptCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
  margin: 1vh;
}

.profileCard {
  margin: 3vh;
}

.navTitle {
  color: white;
}

.allPts, .allProvs {
  align-items: center;
  text-align: center;
  margin: 1vh;
  padding: 1vh;
}

.allThings {
  margin: 1vh;
}

.mainTitle {
  font-size: 100px;
  background: linear-gradient(90deg, #972525 0%, #09cbe5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  margin: 0;
  padding: 25px 0;
}

.allUsersGrid, .allProvsGrid {
  overflow: auto;
  max-height: 80vh;
}

.readingsGrid {
  overflow: auto;
  max-height: 50vh;
}

.backToAllProvButton, .backToAllUsersButton {
  margin-top: 3vh;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.disclaimer {
  max-width: 60vw;
  text-align: center;
}